/* lets strip out the fonts we don't use */

/*@import url("//hello.myfonts.net/count/2d973d");*/
/*@font-face {
	font-family: 'Museo-700';
	src: url('../font/2D973D_0_0.eot');
	src: url('../font/2D973D_0_0.eot?#iefix') format('embedded-opentype'), url('../font/2D973D_0_0.woff2') format('woff2'), url('../font/2D973D_0_0.woff') format('woff'), url('../font/2D973D_0_0.ttf') format('truetype');
}
@font-face {
	font-family: 'Museo-500';
	src: url('../font/2D973D_1_0.eot');
	src: url('../font/2D973D_1_0.eot?#iefix') format('embedded-opentype'), url('../font/2D973D_1_0.woff2') format('woff2'), url('../font/2D973D_1_0.woff') format('woff'), url('../font/2D973D_1_0.ttf') format('truetype');
}*/
@font-face {
	font-family: 'MuseoSans-500';
	src: url('../font/2D973D_2_0.eot');
	src: url('../font/2D973D_2_0.eot?#iefix') format('embedded-opentype'), url('../font/2D973D_2_0.woff2') format('woff2'), url('../font/2D973D_2_0.woff') format('woff'), url('../font/2D973D_2_0.ttf') format('truetype');
}
/*@font-face {
	font-family: 'MuseoSans-500Italic';
	src: url('../font/2D973D_3_0.eot');
	src: url('../font/2D973D_3_0.eot?#iefix') format('embedded-opentype'), url('../font/2D973D_3_0.woff2') format('woff2'), url('../font/2D973D_3_0.woff') format('woff'), url('../font/2D973D_3_0.ttf') format('truetype');
}*/
@font-face {
	font-family: 'MuseoSlab-500';
	src: url('../font/2D973D_4_0.eot');
	src: url('../font/2D973D_4_0.eot?#iefix') format('embedded-opentype'), url('../font/2D973D_4_0.woff2') format('woff2'), url('../font/2D973D_4_0.woff') format('woff'), url('../font/2D973D_4_0.ttf') format('truetype');
}
/*@font-face {
	font-family: 'MuseoSlab-500Italic';
	src: url('../font/2D973D_5_0.eot');
	src: url('../font/2D973D_5_0.eot?#iefix') format('embedded-opentype'), url('../font/2D973D_5_0.woff2') format('woff2'), url('../font/2D973D_5_0.woff') format('woff'), url('../font/2D973D_5_0.ttf') format('truetype');
}*/

/* assigned to any link that links to the lightbox */
.k-link-lightbox {
	cursor: -webkit-zoom-in;
	cursor: -moz-zoom-in;
}

.logoSmall {
	display: none;
	height: 50px;
	margin: 6px 10px;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

/* assigned to body by Image Protect plugin if Pinterest pinning is disabled */
body.k-image-protect-nopin a.social-pinterest {
	display: none;
}

/*custom styles from Jan*/

/* Misc */
body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-family: "MuseoSlab-500", serif;
	font-size: 16px;
	font-variant: normal;
	font-weight: 100;
	-webkit-font-smoothing: antialiased;
	color: #2A2A2A;
}

.clear {
	clear: both;
}

body.noscroll {
	/*position: fixed;*/
	overflow: hidden;
}

p {
	font-family: "MuseoSans-500", sans-serif;
}

/* Header + Navigation */
#headnav {
	width: 100%;
	height: 90px;
	background-color: #2A2A2A;
	position: fixed;
	z-index: 999;
	top: 0;
	transition: height 0.3s ease-in-out, opacity 0.2s;
}
#headnav h1 {
	margin-top: 0;
	float: left;
}
#headnav h1 svg {
	max-height: 80px;
	margin-left: 20px;
	margin-top: 12px;
	width: 135px;
}
#headnav h1 svg.logoSmall {
	margin: 6px 10px;
}

#headnav nav {
	float: right;
	font-size: 1.1em;
	letter-spacing: 0.05em;
	top: 50%;
	position: relative;
	transform: translateY(-50%);
}
#headnav.stuck {
	height: 40px;
	opacity: 0.8;
}

#headnav.stuck .logoSmall {
	display: block;
}
#headnav.stuck .logoBig {
	display: none;
}

#headnav .fb-like, #headnav .fb_iframe_widget {
    position: absolute;
    right: 31px;
    bottom: -30px;
}

nav a {
	color: white;
	text-decoration: none;
	margin-right: 40px;
	font-weight: 300;
}

.mobile {
	display: none;
	width: 30px;
	margin-right: 30px;
	height: 30px;
	float: right;
	top: 50%;
	position: relative;
	transform: translateY(-50%);
	cursor: pointer;
}

.mobile i{
	font-size: 30px;
	color: white;
}

#rmenu{
	position: fixed;
	z-index: 1000;
	width: 100% !important;
	height: 100% !important;
	background: rgba(121, 139, 177, 0.85);
	display: none;
	top: 0;
}

#rmenu_in{
	margin: 0 auto;
	max-width: 150px;
	line-height: 3;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
	position: relative;
	font-size: 25px;
}

#rmenu_in a{
	text-decoration: none;
	color: white;
}

#rmenu i{
	position: absolute;
	color: white;
	right: 30px;
	top: -49px;
}

/* SECTIONS */
section {
	/*	width: 100%;
		height: 100vh;*/
}

.homeSection {
	display: block;
	padding: 4em 0;
	margin-top: 40px;
	position: relative;
}
.homeSection *{
	z-index: 10;
	position: relative;
}
.homeSection .borderSVG {
	z-index: 1;
	position: absolute;
	width: 100%;
	top: -15px;
}
.homeSection h2 {
	font-size: 3em;
	margin: 0;
}
.homeSection p {
	font-size: 1.5em;
	line-height: 1.5em;
	margin: 0;
}
.homeSection .flexy {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: flex-start;
}
.inner_margin {
	max-width: 850px;
	margin: 0 auto;
	padding-right: 15px;
	padding-left: 15px;
}
#content {
	margin: 0 auto;
	max-width: 900px;
}
#content h2 {
	font-size: 50px;
}
#content p {
	font-size: 25px;
	font-family: "MuseoSans-500";
}

.inactiveButtonWrapper{
	position: absolute;
	bottom: 11px;
	width: 100%;
	z-index: 10;
}

.showInactiveMembers {
	font-size: 1.3em;
	border: 2.5px #009CFF solid;
	border-radius: 5px;
	padding: 10px;
	color: #009CFF;
	position: relative;
	background-color: transparent;
	display: block;
	margin: 0 auto;
	cursor: pointer;
	transition: background 0.3s, color 0.3s;
	outline: none;
}

.showInactiveMembers:hover {
	background-color:#009CFF;
	color: white;
}

.fadeOverlay {
	position: absolute;
	width: 100%;
	height: 80px;
	z-index: 20;
	bottom: 0;
}

#clenove .fadeOverlay{
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

/* Hero section */
#hero {
	background-color: #2A2A2A;
	height: 85vh;
	overflow: hidden;
	padding-left: 0px !important;
	padding-right: 0px !important;
	padding-top: 50px;
	background: #2A2A2A;
}

#home-slideshow img{
	width: 100%;
}

#home-slideshow-text {
	max-width: 50%;
	max-height: 300px;
	background-color: rgba(42, 42, 42, 0.9);
	position: absolute;
	bottom: 70px;
	color: white;
	padding: 20px;
	z-index: 998;
	transition: width 0.3s;
	display: none;
}

#progress {
	height: 2px;
	position: absolute;
	bottom: 0;
	left: 0;
	background: #888;
}

#home-slideshow-text a {
	text-decoration: none;
}
#home-slideshow-text h2 {
	color: white;
	float: left;
}

.slideshowInfo {
	display: inline-block;
	width: 45%;
	float: left;
	margin-top: 15px;
}

.slideshowInfo img {
	position: absolute;
}

.slideshowInfo span {
	margin-left: 30px;
}

.slideshowInfo h3{
	margin: 0 0 10px 0;
	font-size: 1.4em;
	font-weight: 400;
	position: relative;
}

.slideshowInfo h3 img{
	top: 3px;
    left: 3px;
}

.slideshowInfo h4 {
	margin: 0 0 10px 0;
	font-size: 1.1em;
	font-weight: 400;
	position: relative;
}

.slideshowInfo h4 img {

}

#description {
	font-size: 18px;
	margin: 0px;
	line-height: 1.8;
	max-width: 450px !important;
	float: left;
	margin-top: 15px;
}

#morebutton {
	margin: 0px;
	float: right;
	font-size: 23px;
	border: 2.5px #009CFF solid;
	border-radius: 5px;
	padding: 10px;
	color: #009CFF;
	position: relative;
	margin-top: 45px;
	box-sizing: border-box;
	transform: translateY(-50%);
}
.showMoreHistory {
	display: inherit;
	margin: 45px auto 0;
	font-size: 23px;
	border: 2.5px #009CFF solid;
	border-radius: 5px;
	padding: 10px;
	color: #009CFF;
	position: relative;
	box-sizing: border-box;
}

#morebutton:hover {
	color: white;
	background-color: #009CFF;
}
#home-slideshow-text svg {
	margin-left: 0px;
	padding: 0px;
	margin-top: 5px;
	width: auto;
	margin-left: -5px;
}

/* About section */
#onas {
	background-color: white;
}

/* History section */
#historie {
	background-color: #CFCFCF;
	max-height: 400px;
	transition: max-height 0.3s;
}
#historie.reveal{
	max-height: 5000px;
}

#historie p{
	font-size: 1.2em;
	column-count: 2;
	-webkit-column-count: 2;
}


/* Members section */
#clenove {
	background-color: white;
	/*margin: 0px;*/
	z-index: 1;
	position: relative !important;
}
.members li {
	overflow: hidden;
	width: 120px;
	height: 120px;
	margin: 10px;
	display: inline;
	position: relative;
}
.members li a, .members li span {
	display: block;
}
.members li .img {
	height: 120px;
	width: 120px;
	border-radius: 100px;
	overflow: hidden;
	vertical-align: middle;
	text-align: center;
	transition: background 0.2s;
}
.members li .noPic{
    background: url(../img/missingperson.svg) no-repeat;
    background-size: contain;
}  
.members li img {
	min-width: 100%;
	min-height: 100%;
	max-width: 150%;
	max-height: 150%;
	height: auto;
	width: auto;
	transition: opacity 0.1s;
}

.members .memberName {
	opacity: 0;
	overflow: hidden;
	text-align: center;
	font-size: 1.1em;
	color: white;
	text-decoration: none;
	position: relative;
	top: -40%;
	transform: translateY(-50%);
	z-index: 10;
	transition: opacity 0.1s, top 0.4s ease-out;
}

.members li:hover{
	/*background: #009CFF;*/
}

.members li:hover .memberName{
	opacity: 1;
	top: -50%;
}

.members li:hover img{
	opacity: 0;
}

.members li:hover .img{
	background: #009CFF;
}


.inactiveSection {
	height: 80px;
	overflow: hidden;
	position: relative;
	opacity: 0.8;
	transition: height 0.6s ease-in-out;
}

/* Modal css */

#modal{
	display: none;
	position: fixed !important;
	width: 100% !important;
	height: 100%;
	padding: 4em 0 !important;
	top: 0px !important;
	background: rgba(84, 84, 84, 0.95);
	text-align: center;
	color: white;
	z-index: 10000;
	box-sizing: border-box;
	overflow: auto;
}

#modal .modalInner {
    padding: 0 150px 20px;
    margin: 0 auto; 
    max-width: 1100px;
}

#modal .modalInner article {
	clear: both;
}

#modal .memberImage {
	width: 30%;
	float: left;
	margin-right: 5%;
	position: relative;
	border-radius: 50%;
	overflow: hidden;
}

#modal .memberImage img {
	width: 100%;
	height: auto;
	clip-path: circle(45% at center);
	-webkit-clip-path: circle(45% at center);
}

#modal .memberDescription {
	text-align: left;
	font-size: 1.1em;
	width: 65%;
	float: left;
    margin-top: 3%;
}

#modal .memberDescription:after {
	content: '';
	clear: both;
	position: relative;
}

#modal .memberDescription span {
	display: block;
	margin-bottom: 10px;	
}

#modal .memberDescription p {
	margin-top: 10px;
	padding-top: 15px;
}

#memberpage{
	max-width: 900px;
	margin: 0 auto;
	position: relative;
	margin-top: 10%;
	height: auto;
}

#modal p{
	/*max-width: 700px !important;*/
	margin: 0 auto;
}

#modal figcaption{
	max-width: 100% !important;
}


.fa-times{
	cursor: pointer;
	font-size: 45px;
	margin-top: 70px;
}

.content_main{
	width: 200px;
	height: 200px;
	border-radius: 100px !important;
	background-size: cover !important;
	background-position: 100% 100% !important;
	margin: 0 auto;
}

.modalTitle{
	font-size: 40px;
    margin: 20px 0 20px;
    position: relative;
    padding: 0 0 30px;
    border-bottom: 3px solid #009CFF;
}

/* Repertoar section */
#repertoar {
	background-color: #009CFF;
	padding-bottom: 150px;
	position: relative;
}

#repertoar .fadeOverlay{
	position: absolute;
	width: 100%;
	height: 80px;
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,156,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(0,156,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(0,156,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(0,156,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(0,156,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(0,156,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#009cff',GradientType=0 ); /* IE6-9 */
}

#repertoar h2 {
	color: white;
}

#repertoar .shows li {
	display: inline;
	overflow: hidden;
	width: auto;
	flex-grow: 1;
	position: relative;
	margin-bottom: 20px;
}

.shows .showThumb {
	width: 300px;
	height: auto;
	margin: 0 auto;
	background-color: #2CA8F7;
}

.shows li a{
	text-decoration: none;
}

.shows li h4{
	margin: 10px 0 0 0;
}
.shows li p img {
	position: absolute;
	left: 0;
	top: 0;
}

.shows li p {
	padding-left: 25px;
	position: relative;
}

.shows .cal {
    top: -1px;
}

.shows .location {
	left: 3px;
    top: 2px;
}

#showModalDescription .fbGallery{
    top: 2px;
}

#showModalDescription .colLeft a{
    color: #009CFF;
}

.shows figure{
	padding: 5px;
	flex-grow: 1;
}

.shows h4 a{
	color: #2A2A2A;
	font-size: 2em;
	text-align: center;
	display: block;
}

.shows figcaption{
	width: 300px;
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 10px;
}

.shows .viewShow {
	position: absolute;
	top: -70px;
    padding: 10px;
    transform: translateX(-50%);
    margin-left: 50%; 
    fill: white;
}

.shows figcaption p{
	font-size: 1em;
}


.shows figcaption h4 a{
	color: white;
	text-decoration: none;
	font-size: 25px;
	margin-top: 0px;
}

.showThumb > a {
	top: 0;
	transition: top 0.1s ease-in-out;
	position: relative;
	z-index: 100;
}

.showThumb:hover > a{
	top: -83px;
}

#modal .close {
	position: absolute;
	margin: 0;
	right: 0;
	top: 0;
}

#modal #showModalSlideshow {
	display: block;
	width: 100%;
	height: 80vh;
	background-color: grey;
	text-align: center;
	margin-bottom: 15px;
}

#showModalSlideshow .singleSlide {
	height: 100%;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
}

.cycle-pager {
    font-size: 3em;
    line-height: 1em;
    cursor: pointer;
    border-bottom: 1px solid white;
}

.cycle-pager-active{
	color: #009CFF;
}

#showModalSlideshow .singleSlide img {
	height: 100%;
}

#showModalSlideshow .singleSlide p {
	width: 100%;
	font-size: 1.3em;
	padding: 10px;
	box-sizing: border-box;
	color: #2A2A2A;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: rgba(255,255,255,0.8);
}

#modal #showModalDescription {
	text-align: left;
	margin-top: 75px;
}

#showModalDescription .colLeft {
	float: left;
	width: 30%;
	padding-right: 15px;
	box-sizing: border-box; 
}

#showModalDescription p {
	margin-bottom: 10px;
	position: relative;
}

#showModalDescription .colLeft p {
	padding-left: 30px;
}

#showModalDescription .colLeft p img {
	position: absolute;
	left: 3px;
}

#showModalDescription .colLeft p img.cal {
	left: 0;
	top: -4px;
}

#showModalDescription .colRight {
	float: right;
	width: 50%;
	position: relative;
}

#showpage article{
	max-width: 880px;
	margin: 0 auto;
	text-align: left;
}

#showpage p {
	font-size: 1.2em;
	line-height: 1.4em;
}

#showpage.oneCol .description {
}

#showpage.twoCol .slideShow{
	width: 45%;
	float: left;
}
#showpage figure{
	margin: 0;
	padding: 5px;
	box-sizing: border-box;
	background: #CFCFCF;
}

#showpage.twoCol .description {
	width: 50%;
	float: right; 
}


.activeShows{
	margin-bottom: 20px;
}

.showInactiveShows {
	margin-bottom: 20px !important;
	font-size: 1.3em;
	border: 2.5px white solid;
	border-radius: 5px;
	padding: 10px;
	color: white;
	position: relative;
	background-color: transparent;
	display: block;
	margin: 0 auto;
	cursor: pointer;
	transition: background 0.3s, color 0.3s;
	outline: none;
}

.showInactiveShows:hover {
	background-color:white;
	color: #009CFF;
}

.showInactiveMembers i{
	display:none;
}

.showInactiveShows i{
	display:none;
}


/* Sponsors section */
#sponsors {
	background-color: #ECF0F1;
	height: 65vh;
	padding-top: 10px;
}
#sponsors h2 {
	text-align: center;
	font-family: "MuseoSlab-500Italic";
}

/* Reference section */
#reference {
	background-color: white;
	height: 80vh;
}

#reference a{
	font-size: 24px !important; 
	color: rgb(255,83,128);
}

#reference p{
	text-align: block;
}

@media (max-width: 960px) {
	body.debug:before {
		content: '960px';
		position: fixed;
		top: 0px;
		z-index: 10000;
		background: pink;
	}

    nav a { 
    	display: none; 
    }
    
    .mobile { 
    	display: inline-block; 
    }

	.homeSection h2{
		font-size: 2em;
	}

	#description{
		font-size: 16px;
		margin-bottom: 30px;
	}

	#morebutton{
		float: none;
		margin: 0px;
	}

	#home-slideshow-text{
		padding-bottom: 30px;
	}

	#home-slideshow-text .slideshowInfo {
		width: 100%;
		float: none;
		clear: both;
	}

	#home-slideshow-text #morebutton {
	    float: none;
	    clear: both;
	    margin-top: 29px;
	    margin-left: 31px;
	    font-size: 18px;
	    padding: 7px;
	    display: inline-block;
	}
}

@media (max-width: 550px) {
	
	body.debug:before {
		content: '550px';
		position: fixed;
		top: 0px;
		z-index: 10000;
		background: pink;
	}

	#home-slideshow-text{
		max-width: 100% !important;
	}


}

/* TABLET
----------------------------------------------- */
@media only screen and (min-width:768px) and (max-width:959px) {
	
	body.debug:before {
		content: '768 - 959';
		position: fixed;
		top: 0px;
		z-index: 10000;
		background: pink;
	}

	#container {
		width: 728px;
	}
	ol.thumbs li {
		width: 207px;
	}
	div.mcol {
		width: 490px;
	}
	div.rcol {
		font-size: 90%;
	}
	.kevent .article_body {
		padding-right: 0;
	}

	/*body::before{content: "TABLET";font-weight: bold;display: block;text-align: center;background: rgba(255,255,0, 0.9);position: fixed;top: 0;left: 0;right: 0;z-index: 99;}*/
}

/* MOBILE (PORTRAIT/320PX)
----------------------------------------------- */
@media only screen and (max-width:767px) {
	
	body.debug:before {
		content: 'max 767';
		position: fixed;
		top: 0px;
		z-index: 10000;
		background: pink;
	}

	#container {
		width: 280px;
	}
	header h1 {
		display: block;
	}
	header.top {
		margin-top: 2rem;
	}
	ol.thumbs li {
		width: 280px;
	}
	div.mcol {
		width: 280px;
		float: none;
		margin: 0 0 1.1667rem 0;
	}
	div.rcol {
		width: 100%;
		margin: 0 0 24px 0;
		font-size: 90%;
	}
	body.k-source-content div.head {
		width: 280px;
	}
	body.k-source-content div.head h2 {
		width: 280px;
	}
	.kevent .article_body {
		padding-right: 0;
	}
	header.content .share {
		display: none;
	}

	#hero {
		height: 90vh;
		padding-bottom: 0;
		min-height: 530px;
	}

	#home-slideshow {
		height: 90vh;
		min-height: 530px;
		display: block;
		position: relative;
		text-align: center;
	}

	#home-slideshow img {
		height: 90vh;
		min-height: 530px;
		max-width: 800px;
		width: auto;
	}

	#home-slideshow-text {
		height: 40vh;
		position: absolute;
		bottom: 0;
		box-sizing: border-box;
	}

	#modal {
	    padding: 2em 0 !important;
	}

	#modal .modalInner {
		padding: 0 20px;
	}

	#modal .modalInner .memberImage, #modal .modalInner .memberDescription {
		float: none;
		width: 100%;
	}

	#modal .modalTitle{
		margin-top: 0;
		padding: 0 0 15px;
	}

	#modal .modalInner .close {
		display: block;
		position: relative;
		margin-bottom: 15px;
	}

	.memberDescription p {
		line-height: 1.4em;
	}

	/* not enough room */
	header.content span.entry-type {
		display: none;
	}
	.social {
		float: none;
		margin: 0 0 24px 0;
	}

	#historie p {
	    column-count: 1;
	    -webkit-column-count: 1;
	}

	/*body::before{content: "MOBILE PORTRAIT";font-weight: bold;display: block;text-align: center;background: rgba(255,255,0, 0.9);position: fixed;top: 0;left: 0;right: 0;z-index: 99;}*/
}

/* MOBILE (LANDSCAPE/480PX)
----------------------------------------------- */
@media only screen and (min-width:480px) and (max-width:767px) {
	
	body.debug:before {
		content: '480 - 767';
		position: fixed;
		top: 0px;
		z-index: 10000;
		background: pink;
	}

	body.k-source-content div.head {
		width: 436px;
	}
	div#twocol div.rcol ol.actions li {
		float: left;
		margin: 0 24px 0 0;
	}
	header.content .share {
		display: block;
	}
	header.content div.kshare {
		right: 20px;
	}

	#modal .modalInner {
		padding: 0 50px; 
	}

	/*body::before{content: "MOBILE LANDSCAPE";font-weight: bold;display: block;text-align: center;background: rgba(255,255,0, 0.9);position: fixed;top: 0;left: 0;right: 0;z-index: 99;}*/
}

/* DESKTOP/LAPTOPS
----------------------------------------------- */
@media only screen and (min-width:1025px) {

	body.debug:before {
		content: 'min 1025';
		position: fixed;
		top: 0px;
		z-index: 10000;
		background: pink;
	}

	/*body::before{content: "DESKTOP";font-weight: bold;display: block;text-align: center;background: rgba(255,255,0, 0.9);position: fixed;top: 0;left: 0;right: 0;z-index: 99;}*/
}

/* ...bigger */
@media only screen and (min-width:1280px) and (min-height:960px) {

	body.debug:before {
		content: '960 - 1280';
		position: fixed;
		top: 0px;
		z-index: 10000;
		background: pink;
	}

	body.k-source-content div#container {
		width: 1145px;
	}
	body.k-source-content div.mcol, body.k-source-content .head.mcol {
		width: 900px;
	}

	/*body::before{content: "DESKTOP 1280";font-weight: bold;display: block;text-align: center;background: rgba(255,255,0, 0.9);position: fixed;top: 0;left: 0;right: 0;z-index: 99;}*/
}

/* ...biggerrrr */
@media only screen and (min-width:1601px) and (min-height:1200px) {

	body.debug:before {
		content: '1601 - 1200';
		position: fixed;
		top: 0px;
		z-index: 10000;
		background: pink;
	}

	body.k-source-content div#container {
		width: 1500px;
	}
	body.k-source-content div.mcol, body.k-source-content .head.mcol {
		width: 1265px;
	}
	img.content_main {
		max-height: 900px;
	}

	/*body::before{content: "DESKTOP 1600";font-weight: bold;display: block;text-align: center;background: rgba(255,255,0, 0.9);position: fixed;top: 0;left: 0;right: 0;z-index: 99;}*/
}

/*	iPHONE 4 RETINA + HIGH RES
----------------------------------------------- */
@media only screen and (-webkit-min-device-pixel-ratio:2), only screen and (min-device-pixel-ratio:2) {

	body.debug:before {
		content: 'retina ';
		position: fixed;
		top: 0px;
		z-index: 10000;
		background: pink;
	}

	/*body::before{content: "RETINA";font-weight: bold;display: block;text-align: center;background: rgba(255,255,0, 0.9);position: fixed;top: 0;left: 0;right: 0;z-index: 99;}*/
}
