<article>
    <h3 class="modalTitle">
        <i class="fa fa-times close"></i>
        <perch:content id="showtitle" type="text" label="Show Title" title="true" />
    </h3>
    <div id="showModalSlideshow" 
        class="slideShow cycle-slideshow">
        <div class="singleSlide">
            <img src="<perch:content id="showimage" type="image" label="Show Image"/>" alt=""/>
        </div>
        <perch:repeater id="showsupportimages" label="Additional Images">
            <div class="singleSlide">
                <img src="<perch:content type="image" id="showsupportimage" label="Image" />"/>
                <p><perch:content type="text" id="showsupportcaption" label="Description" /></p>
            </div>
        </perch:repeater>
        <div class="cycle-pager"></div>
    </div>
    <div id="showModalDescription">
        <div class="colLeft">
            <perch:if exists="showopendate">
                <p><img class="cal" src="img/cal.svg" /><strong>Premiéra: </strong><perch:content id="showopendate" type="date" label="Date of opening" format="d F, Y"/></p>
            </perch:if>
            <perch:if id="showisongoing" value="1" match="eq">
                <p><strong>Stále na programu</p>
            </perch:if>
            <perch:if id="showisongoing" value="1" match="neq">
                <p><strong>Derniéra: </strong><perch:content id="showfinaledate" type="date" label="Date of finale" format="d F, Y"/></p>
            </perch:if>
            <perch:if exists="theater">
                <p><img class="location" src="img/location.svg" /><strong>Scéna: </strong><perch:content id="theater" type="text" label="Theater of opening"/></p>
            </perch:if>
            <perch:if exists="fb-gallery">
                <p>
                    <img class="fbGallery" src="img/gallery.svg" />
                    <strong>
                        <a href="<perch:content id="fb-gallery" type="text" label="Facebook Galerie" notes-before="Create an Album in FB, navigate to that album and copy the url here"/>" _target="blank">Fotogalerie</a>
                    </strong>
                </p>
            </perch:if>
            <perch:if exists="fb-event">
                <p>
                    <img class="fbEvent" src="img/event.svg" />
                    <strong>
                        <a href="<perch:content id="fb-event" type="text" label="Facebook události" notes-before="Create an event in FB, then click the date under the title. Paste that link here"/>" _target="blank">Facebook události</a>
                    </strong>
                </p>
            </perch:if>
        </div>
        <div class="colRight">
            <p><perch:content id="showdescription" type="textarea" label="Show Description" /></p>
        </div>
        <div class="clear"></div>
    </div>
</article>
<script>
    $('#showModalSlideshow').cycle({
        speed: 1000,
        fx: "fade",
        pauseOnHover: "false",
        slides: ".singleSlide"
    });
</script>