<perch:content id="showtitle" type="text" label="Show Title" title="true" suppress="true" />
<perch:content id="showdescription" type="textarea" label="Show Description" suppress="true"/>
<perch:content id="showimage" type="image" label="Show Image" width="100" suppress="true" />
<perch:content id="showisactive" type="checkbox" label="Show is Active" value="1" suppress="true" />
<perch:content id="showisfeatured" type="checkbox" label="Show is Featured in Slideshow" value="1" suppress="true" />
<perch:content id="showopendate" type="date" label="Date of opening" suppress="true" />
<perch:content id="showfinaledate" type="date" label="Date of finale" suppress="true" />
<perch:content id="theater" type="text" label="Theater of opening" suppress="true" />
<perch:content id="theaterlocation" type="map" label="Location of Theater" suppress="true" />
<perch:repeater id="showsupportimages" label="Additional Images">
    <perch:content type="image" id="showsupportimage" label="Image" suppress="true" />
    <perch:content type="text" id="showsupportcaption" label="Description" suppress="true" />
</perch:repeater>

<li class="show">
    <figure>
        <div class="showThumb">
            <a href="/riyo_build/showmodal.php?s=<perch:content id="showslug" type="slug" for="showtitle"/>">
                <img src="<perch:content id="showimage" type="image" label="Show Image" width="300" />" alt=""/>
            </a>
            <button class="viewShow"><svg enable-background="new 0 0 24 24" id="Layer_1" version="1.1" viewBox="0 0 24 24" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><g><path clip-rule="evenodd" d="M12,4C4.063,4-0.012,12-0.012,12S3.063,20,12,20    c8.093,0,12.011-7.969,12.011-7.969S20.062,4,12,4z M12.018,17c-2.902,0-5-2.188-5-5c0-2.813,2.098-5,5-5c2.902,0,5,2.187,5,5    C17.018,14.812,14.92,17,12.018,17z M12.018,9c-1.658,0.003-3,1.393-3,3c0,1.606,1.342,3,3,3c1.658,0,3-1.395,3-3    C15.018,10.392,13.676,8.997,12.018,9z" fill-rule="evenodd"/></g></g></svg></button>
            <figcaption>
                <p><img class="cal" src="img/cal.svg" /><strong>Premiéra: </strong><perch:content id="showopendate" type="date" label="Date of opening" format="d F, Y"/></p>
                <p><strong>Derniéra: </strong><perch:content id="showfinaledate" type="date" label="Date of finale" format="d F, Y"/></p>
                <p><img class="location" src="img/location.svg" /><strong>Theater: </strong><perch:content id="theater" type="text" label="Theater of opening"/></p>
            </figcaption>
        </div>
        <h4>
            <a href="/riyo_build/showmodal.php?s=<perch:content id="showslug" type="slug" for="showtitle"/>">
                <perch:content id="showtitle" type="text" label="Show Title" title="true" />
            </a>
        </h4>

    </figure>
</li>